<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarPC.Properties.Settings.CarputerConnectionString"
            connectionString="Data Source=OMNI\Carputer;Initial Catalog=Carputer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>